.container {
    display: flex;

}

.login-descript{
    width: 45%;
    height: 100vh;
    background-color: var(--color-brand-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login-input{
    width: 55%;
    height: 100vh;
    background-color: var(--color-grey-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texts-descript{
    display: flex;
    flex-direction: column;
    gap: 37px;
}
.texts-input{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-login{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.red{
    color: red;
    display: none;
}
.red-show{
    display: flex;
}
.box-recents{
    display: flex;
    align-items: center;
    
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin-top: 27px;
}
.card{
    width: 59px;
    height: 70px;
}
.card > img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}
.card > p {
    display: none;
    width: 159px;
}

.card:hover > p {
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}